
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    max-width: 414px;

    margin: 0 auto;
}
.hed{
  
    height: 30px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
}
.logo{

}
.icons{
    margin-right: 10px;
}
.icons i{
    font-size: 20px;
    margin: 4px;
}




.nav{
 
   margin-bottom: 20px;
    height: 30px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
}
.menubar{
  
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 10px;
}
.menubar h6{
    font-size: 20px;
}
.addtocart{
    margin-right: 10px;
    font-size: 20px;
}

.teams{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  
}
.teams marquee{
   
    display: flex;
  

}
.teams p{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 7px;
    margin: 10px;
}

.home{
    background-image: url(images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    margin-top: 20px;
}

.deals{
  
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.deals .box{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    height: 10vh;
    width: 35%;
    margin: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.deals .box h4 i{
    color: blue;
}

.featured{
   
    height: auto;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.featured .product{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 42%;
    height: 250px;
    margin: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.featured .product .image{
   
    width: 95%;
    height: 150px;
    
}

.featured .product .image img{
   height: 100%;
   width: 100%;
    
}

.featured .product .offer{
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    display: flex;
    height: 40px;
    width: 100%;
   
    
  
   
     
 }
 .featured .product .offer h4{
    padding: 4px;
    margin-left: 4px;
    color: white;
    background-color: rgb(247, 28, 28);
    border-radius: 3px;
  
    
  
   
     
 }




.featured .product .info h5{
   
  text-decoration: line-through;
  color: rgb(247, 28, 28);
  font-size: 18px;
 }
 .featured .product .info h6{
   
    
    color: rgb(14, 206, 14);
    font-size: 18px;
   }

footer{
 
}
.ft1{
    
    width: 100%;
    height: auto;
    padding: 3vh;
}
.ft1 h4{
    margin-bottom: 10px;
}
.ft1 p{
    padding-top: 10px;
    
}
.ft1 h5 span{
    margin-left: 3px;
    color: blue;
}
.ft1 i{
    color: blue;
    margin: 5px;
    font-size: 20px;
}

.ft1 h6{
    font-size: 20px;
}